# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
# /build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*__pycache__*
src/jsx_files
build/
src/App.jsx
src/Home.jsx
src/page_exports.jsx
docx_files\ copy/
docx_files/*.html
docx_files/archive/