.App{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  min-height: 100vh;
  min-width: 100%;
  position: absolute;
}

table {
  width: 80%;
  margin: auto;
}

p {
  padding: 0;
  margin: 0;
}

table:nth-of-type(2){
  text-align: center;
  margin-top: 40px;
}

table:nth-of-type(3){
  text-align: center;
  margin-top: 40px;
}

table:nth-of-type(4){
  margin-top: 40px;
}

th {
  font-weight: normal;
}

.App > div > blockquote > p {
  margin-left: 10%;
}

body > div > div > div > p {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px
  ;
}

/* .App > div > p {
  margin-left: 10%;
} */

td {
  padding: 0;
}

blockquote {
  padding: 0;
  margin: 0;
}